@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #161617;
}

body > #root {
  overflow: hidden;
  position: relative;
}

@font-face {
  font-family: Apfel;
  src: url("../public/fonts/ApfelGrotezk-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Neue;
  src: url('../public/fonts/PPNeueMachina-Regular.woff2') format('woff2');
}


#navItem {
  position: relative;
  line-height: 60px;
}

#navItem::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
  height: 2px;
  background-color: #B7E82E; 
  transform: scaleX(0);
  transform-origin: right; 
  transition: transform 0.3s ease-out;
}

#navItem:hover::before {
  transform: scaleX(1); 
  transform-origin: left; 
}

.yellow_crypta {
  animation: YellowCrypta 5s linear infinite;
  position: absolute;
  left: 0%;
  top: 5%;
}

@keyframes YellowCrypta {
  0% {
    transform: rotate(0deg) translate(-10%) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-10%) rotate(-360deg);
  }
}

.green_crypta {
  animation: GreenCrypta 5s linear infinite alternate;
  position: absolute;
}

@keyframes GreenCrypta {
  0% {
    transform: translatex(0px);
  }
  100% {
    transform: translatex(-100px);
  }
}

.orange_crypta {
  animation: OrangeCrypta 5s linear infinite alternate;
  position: absolute;
}

@keyframes OrangeCrypta {
  0% {
    transform: translatey(0px);
  }
  100% {
    transform: translatey(-50px);
  }
}

.dark_green_crypta {
  animation: DarkGreenCrypta 5s linear infinite alternate;
  position: absolute;
}

@keyframes DarkGreenCrypta {
  0% {
    transform: translatex(0px);
  }
  100% {
    transform: translatex(-100px);
  }
}

.blue_crypta {
  animation: BlueCrypta 5s linear infinite alternate;
  position: absolute;
}

@keyframes BlueCrypta {
  0% {
    transform: translatey(0px);
  }
  100% {
    transform: translatey(100px);
  }
}
